body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
}

.text{
    font-weight: bold;
    color: #222;
    text-align: center;
    padding: 0 10px ;
    
    
}
.gif{

    display:block;
    background-image : url(award.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    width: 20rem;
    
}
    
p{
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #222;
    
}

h1{
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #222;
    text-align: center;
    padding: 0 10px ;
    
}

